@import url(../../fonts.googleapis.com/earlyaccess/notosanstc.css);
/* line 73, ../sass/styles.sass */
.navbar {
  margin: 0;
}
/* line 75, ../sass/styles.sass */
.navbar.shadow {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.35+0,0.35+50,0+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 50%, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 50%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 50%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00000000',GradientType=0 );
}

/* line 90, ../sass/styles.sass */
video {
  height: 100%;
  left: 0;
  right: 0;
  bottom: auto;
  margin: auto;
}

/* line 96, ../sass/styles.sass */
.swiper-wrapper {
  background-color: #000;
}

@media screen and (max-width: 767px) {
  /* line 98, ../sass/styles.sass */
  .swiper-container {
    height: 100vh;
  }
}

/* line 102, ../sass/styles.sass */
.submenu-indicator {
  display: none;
}

/* line 104, ../sass/styles.sass */
.nav-menu > li:hover > a .submenu-indicator-chevron, .nav-menu > .active > a .submenu-indicator-chevron, .nav-menu > .focus > a .submenu-indicator-chevron {
  border-color: transparent #666 #666 transparent;
}

/* line 106, ../sass/styles.sass */
.navigation {
  font-family: "Noto Sans TC", sans-serif;
  background-color: transparent;
}

/* line 109, ../sass/styles.sass */
.nav-menu > li > a {
  color: #FFF;
  opacity: 0.75;
  text-shadow: 0 0 4px black;
  font-weight: 300;
  transition: all 1s;
  padding: 26px 10px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
}
@media only screen and (min-width: 992px) {
  /* line 109, ../sass/styles.sass */
  .nav-menu > li > a {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 109, ../sass/styles.sass */
  .nav-menu > li > a {
    font-size: 17px;
  }
}
/* line 123, ../sass/styles.sass */
.nav-menu > li > a:before {
  content: "";
  height: 3px;
  left: 0;
  right: 0;
  bottom: 12px;
  position: absolute;
  background-color: #EEC380;
  opacity: 0;
  transition: all 1s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

/* line 134, ../sass/styles.sass */
.nav-menu > li:hover > a,
.nav-menu > li.active > a,
.nav-menu > li.focus > a {
  opacity: 1;
  color: #FFF;
}
/* line 139, ../sass/styles.sass */
.nav-menu > li:hover > a:before,
.nav-menu > li.active > a:before,
.nav-menu > li.focus > a:before {
  opacity: 1;
}

/* line 141, ../sass/styles.sass */
.nav-dropdown {
  top: 65px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 0;
  min-width: auto;
}

/* line 146, ../sass/styles.sass */
.nav-dropdown > li {
  padding: 0;
  float: none;
}

/* line 149, ../sass/styles.sass */
.nav-dropdown > li > a {
  background-color: transparent;
  padding: 2px 15px;
  font-size: 13px;
  line-height: 1.6em;
  font-weight: 300;
  color: #FFF;
  opacity: 0.75;
  transition: all 1s;
}
@media only screen and (min-width: 992px) {
  /* line 149, ../sass/styles.sass */
  .nav-dropdown > li > a {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 149, ../sass/styles.sass */
  .nav-dropdown > li > a {
    font-size: 15px;
  }
}

/* line 162, ../sass/styles.sass */
.nav-dropdown > li:hover > a,
.nav-dropdown > li.focus > a {
  color: #FFF;
  opacity: 1;
  text-shadow: 0 0 4px black;
}

/* line 167, ../sass/styles.sass */
.nav-menu > li > .nav-dropdown {
  border: none;
}

/* line 169, ../sass/styles.sass */
.nav-dropdown .nav-dropdown {
  top: 0;
}

/* line 171, ../sass/styles.sass */
.nav-toggle:before {
  background-color: #FFF;
  box-shadow: 0 0.5em 0 0 #FFF, 0 1em 0 0 #FFF;
}

/* line 176, ../sass/styles.sass */
.navigation-portrait .submenu-indicator {
  display: block;
}
/* line 178, ../sass/styles.sass */
.navigation-portrait .nav-menu > li > a {
  color: #666;
  text-shadow: none;
}
/* line 181, ../sass/styles.sass */
.navigation-portrait .nav-menu > li > a:before {
  content: none;
}
/* line 183, ../sass/styles.sass */
.navigation-portrait .nav-dropdown {
  background: transparent;
}
/* line 185, ../sass/styles.sass */
.navigation-portrait .nav-dropdown > li > a {
  color: #888;
}
/* line 187, ../sass/styles.sass */
.navigation-portrait .nav-dropdown > li:hover > a,
.navigation-portrait .nav-dropdown > li.focus > a {
  text-shadow: none;
}

/* line 193, ../sass/styles.sass */
footer {
  background: #41240F;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  padding: 18px 0 28px 0;
}
/* line 198, ../sass/styles.sass */
footer .adress-container {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  /* line 198, ../sass/styles.sass */
  footer .adress-container {
    float: right;
  }
}
/* line 202, ../sass/styles.sass */
footer .address {
  font-size: 13px;
  line-height: 22px;
  color: #D6C5B4;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  /* line 202, ../sass/styles.sass */
  footer .address {
    width: auto;
    text-align: left;
    font-size: 13px;
    padding-right: 25px;
    padding-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 202, ../sass/styles.sass */
  footer .address {
    font-size: 15px;
    padding-right: 40px;
  }
}
/* line 219, ../sass/styles.sass */
footer .address:last-child {
  padding-right: 0;
}
/* line 221, ../sass/styles.sass */
footer .address .title {
  color: #FFF;
}
/* line 223, ../sass/styles.sass */
footer .address .fa {
  font-size: 32px;
  padding-right: 8px;
}
/* line 226, ../sass/styles.sass */
footer .navbar-brand {
  width: 185px;
  height: auto;
  padding: 0;
  margin-top: 6px;
  float: none;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
/* line 235, ../sass/styles.sass */
footer .navbar-brand > img {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  /* line 226, ../sass/styles.sass */
  footer .navbar-brand {
    margin-left: 0;
    width: 240px;
  }
}

/* line 240, ../sass/styles.sass */
.swiper-container-fade .swiper-slide {
  pointer-events: auto;
}

/* line 243, ../sass/styles.sass */
.section-top-heading {
  font-family: "Noto Sans TC", sans-serif;
  text-shadow: 0 2px 4px black;
  font-size: 8.8px;
  padding: 1.2em 0 1.86em 0;
  background: rgba(0, 0, 0, 0.45);
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  position: relative;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  /* line 243, ../sass/styles.sass */
  .section-top-heading {
    font-size: 12px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 243, ../sass/styles.sass */
  .section-top-heading {
    font-size: 12px;
  }
}
/* line 257, ../sass/styles.sass */
.section-top-heading h2 {
  font-size: 192%;
  line-height: 1.48em;
  font-weight: 500;
  margin-bottom: 5px;
}
/* line 262, ../sass/styles.sass */
.section-top-heading p {
  font-size: 157%;
  line-height: 1.48em;
  font-weight: 300;
}
/* line 266, ../sass/styles.sass */
.section-top-heading .btn-default {
  font-size: 115%;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  width: 133px;
  margin: auto;
  font-size: 16px;
}

/* line 275, ../sass/styles.sass */
.slider-content {
  width: 90vw;
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  /* line 275, ../sass/styles.sass */
  .slider-content {
    width: 462px;
  }
}

/* line 284, ../sass/styles.sass */
.btn-default {
  background: #422510;
  border-color: #A58E7D;
  transition: all 1s;
}
/* line 288, ../sass/styles.sass */
.btn-default:hover, .btn-default:active, .btn-default:focus {
  background: #C29D82;
}

/* line 290, ../sass/styles.sass */
.control-btn {
  position: absolute;
  bottom: 15px;
  right: 25px;
  width: 25px;
  height: 25px;
}
/* line 296, ../sass/styles.sass */
.control-btn:hover .fa {
  opacity: 1;
}
/* line 298, ../sass/styles.sass */
.control-btn .fa {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  font-size: 23px;
  opacity: 0.6;
  transition: opacity 1s;
}
